<h1>Bootstrap Daterange</h1>
<label>Start</label>
{{ember-bootstrap-daterange singleDatePicker=true startDate=start showDaterangepicker="showDaterangepicker" hideDaterangepicker="hideDaterangepicker"}}

<label>End</label>
{{ember-bootstrap-daterange singleDatePicker=true startDate=end}}
<br />

<button {{action 'go'}}>Go</button>
<button {{action 'addRanges'}}>Add Ranges</button>

{{ember-bootstrap-daterange ranges=ranges startDate=start endDate=end}}

<br />
<br />

<label>Date & Time</label>
{{ember-bootstrap-daterange
  startDate=start
  endDate=end
  timePicker=true
  timePickerSeconds=false
  timePicker12Hour=false
  timePickerIncrement=60
  disabled=false
  class="ember-view ember-text-field"
  format="MM/DD/YYYY HH:00"
}}
